<div ng-hide='items.length!=0' class='alert'>Nothing found</div>
	<div ng-show='items && items.length!=0' class="row">
	    <div class="col-md-12">
		    <table class='table'>
		     	<thead><tr><th>Short name</th><th>Full name</th><th>Description</th><th>Delete</th></tr></thead>
		    	<tbody>
		    		<tr ng-repeat='item in items'>
		    		<td>{{item.short_name}}</td>
		    		<td>{{item.name}}</td>
		    		<td>{{item.description}}</td>
		    		<td><button class="btn btn-warning" ng-click='onRemove({index: $index});'>Don't want this one!</button></td>
		    		</tr>		
		    	</tbody>
		    </table>

	    </div>

	</div>
