<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body ng-app='NarrowItDownApp'>
   <div class="container" ng-controller='NarrowItDownController'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <form class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model='searchTerm'>
      <button class="btn btn-primary" ng-click='doSearch(searchTerm);'>Narrow It Down For Me!</button>
    </form>
    <found-items items='foundlist' on-remove='removeitem(index);'></found-items>
  </div>

</body>
</html>
